<a href="https://colab.research.google.com/github/AngelRP8791/Prep-Course/blob/main/Curso_Python_para_Ciencia_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("HOla mundo")#Función Print

HOla mundo

In [3]:
nombre = "Ana" #VAriable que contiene un string
print(nombre) #Función print

Ana

In [4]:
edad = 25 #Variable que contiene un número (puede ser int o str)
print(edad) #Función print

25

In [5]:
a = 10 #Variable que contiene un número (solo puede ser int si va a formar una operación)
b = 5 #Variable que contiene un número (solo puede ser int si va a formar una operación)
suma = a+b #variable que contiene una operación matemática que suma dos variables que contienen números
print(suma)#función print

In [7]:
nombre = input("Como te llamas?")#variable que contiene la función "input" que permite al sistema hacer preguntas
print("hola, "+nombre)#Función print que provoca la pregunta

Como te llamas?Angel
hola, Angel

In [10]:
num1 = int(input("Número 1: "))#Variable que contiene "input", identificandolo como int con la función "int"
num2 = int(input("Número 2: "))#Variable que contiene "input", identificandolo como int con la función "int"
resultado = num1 + num2#Variable que contiene la suma de dos variables que contienen números validados como "int"
print("La suma es:", resultado)#Función print que provoca la función input

Número 1: 1
Número 2: 1
La suma es: 2

In [13]:
X = 3.14#Variable que contiene un valor Float(números decimales, sin importar si el decimal es cero)
print(type(X))#función print con la función "Type" anidada que nos permite saber que tipo de contenido es

<class 'float'>

In [15]:
num = 10#variable que contiene un número
texto = str(num)#variable que contiene la función str que valida un número como texto
print(type(texto))#función print

<class 'str'>

In [19]:
print("Python", "es", "genial")#fución print que contatena textos con comas dejando un espacio entre cada texto en automático

Python es genial

In [20]:
base = 5 #Variable que contiene un número
altura = 5 #Variable que contiene un número
area = base * altura #Variable que contiene una operacion con dos variables que contienen números
print("Área:", area)#Función print que concatena un texto y el contenido de la operación contenida en una variable

Área: 25

In [21]:
num = int(input("Dame un número: "))#Variable que contiene una función input que será validada como int por la función int
if num > 0:#función if que compara el contenido de la variable con un número
    print("Es positivo")#respuesta condicionada al resultado del contenido de "if"
else:#Segunda condicionante de "if" que permite conocer un resultado alternativo en caso de que no se cumpla el contenido de "if"
    print("No es positivo")#respuesta condicionada al resultado del contenido de "else"

Dame un número: 5
Es positivo

In [22]:
for i in range(1,6):#Función "for" que devuelve la impresión de bucles (repite acciones)
                    #primer valor(i): indica los individuos que contiene el conjunto
                    #segundo valor (range()): indica el conjunto de valores contenido en la variable
                    #Función "range()"  devuelve los números contenidos dentro del rango especificado
    print(i)#función print que devuelve los números contenidos dentro del rango indicado al llamar al contenido "i"

1
2
3
4
5

In [33]:
números = input("Escribe números separados por comas: ")#Variable que contiene la función input
lista = números.split(",") #Variable que contiene la función "split": complementa la variable para
                           #indicar la separación de valores con un objeto
suma = 0 #Indica el número adicional a sumar a la operación (dato complementario)
for n in lista:#Función "for" que devuelve la impresión de bucles (repite acciones);
                #primer valor(n): indica los individuos que contiene el conjunto
                #segundo valor (lista): indica el conjunto de valores contenido en la variable
    suma += int(n) #Función indizada, es la función contenida que indica que acciones va a realizar "for"
                   #"+=" suma de los valores "n" contenidos en el bucle "for"
print("suma:",suma)#Función print que llama a input y el evento contenido en el blucle "for"

Escribe números separados por comas: 1,1
suma: 2

In [35]:
def saludar(nombre): #Función "def" para crear una función específica con un argumento que se asignará al llamar la función
    print("Hola, " + nombre) #función print que concatena texto con el argumento de la función que crea "def"

saludar("Luis") #Función llamada que indica el valor del contenido de "def"

Hola, Luis

In [41]:
import csv

with open(datos.csv) as archivo:
    lector = csv.reader(archivo)
    for i, fila in enumerate(lector):
        if i < 3:
            print(fila)

NameError: name 'datos' is not defined

In [43]:
pares = [x for x in range(11) if x % 2 == 0] #variable que contiene los siguientes aspectos:
                                             #range(11): crea una secuencia de números
                                             #for x in range(11): asigna la "x" para cada valor de range()
                                             #if x % 2 == 0: condición que indica que indica la condición que debe cumplirse (el residuo de dividir x/2 debe ser 0)
                                             #[x for x in range(11) if x % 2 == 0]: construye una lista que cumple las condiciones (todos los valores x que son pares)
                                             #pares = [...]: guarda el resultado en la variable
print(pares)

[0, 2, 4, 6, 8, 10]

In [45]:
palabra = "Python es muy útil" #variable que contiene un elemento str
print(len(palabra)) #función print que contiene la función "len()" que cuenta los caracteres del contenido de una variable

18

In [46]:
palabras = ["casa", "perro", "gato"] #Variable que contiene tres str
mayusculas = [p.upper() for p in palabras] #variable que contiene la función upper() que convierte minúsculas en mayúsculas
                                           #complementa "p" para indicar las letras que se convertirán en mayúsculas
                                           #for p in palabras
print(mayusculas)

['CASA', 'PERRO', 'GATO']

In [58]:
try:                                #función para identificar errores
    num = int(input("Número: "))    #Variable que valida como int el contenido de input
except ValueError:                  #Complemente de la función que indica el error
    print("no es un número válido") #devuelve el texto en caso de ingrrsar un valor no válido

Número: m
no es un número válido

In [61]:
texto = "manzana banana manzana pera" #variable que contiene valores str
palabras = texto.split()              #variable que contiene la función "split()" para separar elementos contenidos en una variable, si no indica el objeto, por default considera el espacio
contador = palabras.count("manzana")  #variable que contiene la función count() complementando la variable para determinar las veces que el elemento elegido en la variable
print("manzana aparece:", contador)   #función print: devuelve el resultado de "contador" concatenado con otro texto

manzana aparece: 2

In [62]:
import pandas as pd

df = pd.read_csv("datos.csv")
print(df.head())
print(df.describe())

FileNotFoundError: [Errno 2] No such file or directory: 'datos.csv'

In [63]:
filtro = df[df["edad"] > 30]
print(filtro)

NameError: name 'df' is not defined

In [64]:
df["edad_10_años_más"] = df["edad"] + 10
print(df.head())

NameError: name 'df' is not defined

In [2]:
print("Hola mundo!")

Hola mundo!

In [4]:
print("Me llamo Juan")

Me llamo Juan

In [6]:
print("Mi comida favorita es la pizza")

Mi comida favorita es la pizza

In [8]:
print("Python")
print("Python")
print("Python")
print("Python")
print("Python")

Python
Python
Python
Python
Python

In [10]:
número = 8
print(número)

8

In [13]:
fruta = "manzana"
print(fruta)

manzana

In [15]:
edad = 25
nueva_edad = edad + 5
print(nueva_edad)

30

In [18]:
x = 10
y = 20
suma = x + y
print(suma)

30

In [21]:
nombre = "Carlos"
edad = 40
print("Nombre:", nombre, "; Edad:", edad)

Nombre: Carlos ; Edad: 40

In [23]:
ciudad = "Puebla"
país = "México"
print("Vives en", ciudad, "de", país)

Vives en Puebla de México

In [25]:
mensaje = "Hola mundo"
print(mensaje)

Hola mundo

In [27]:
entero = 7
print(entero)

7

In [29]:
decimal = 3.14
print(decimal)

3.14

In [31]:
activo = True
print(activo)

True

In [32]:
a = 5

In [34]:
print(type(a))

<class 'int'>

In [36]:
texto = "Hola"
print(type(texto))

<class 'str'>

In [38]:
número = 4
decimal = float(número)
print(decimal)

4.0

In [40]:
decimal = 7.5
entero = int(decimal)
print(entero)

7

In [42]:
saludo = "Hola" + "mundo"
print(saludo)

Holamundo

In [44]:
nombre = "Ana"
apellido = "López"
completo = nombre + " " + apellido
print(completo)

Ana López

In [46]:
a = 10
b = 3
resta = a-b
print(resta)

7

In [48]:
x = 4
y = 5
producto = x * y
print(producto)

20

In [50]:
a = 10
b = 2
división = a/b
print(división)

5.0

In [52]:
número = 2
potencia = número ** 3
print(potencia)

8

In [54]:
a = 9
b = 4
residuo = a%b
print(residuo)

1

In [56]:
logueado = False
print(logueado)

False

In [58]:
color = "Azul"
print("Antes:", color)
color = "rojo"
print("Después:", color)

Antes: Azul
Después: rojo

In [60]:
nombre = input("Como te llamas? ")
print("Hola,", nombre)

Como te llamas? Angel
Hola, Angel

In [61]:
a = int(input("Escribe un número: "))
b = int(input("Escribe un número: "))
print("La suma es:", a + b)

Escribe un número: 1
Escribe un número: 1
La suma es: 2

In [62]:
edad = input("Cuantos años tienes? ")
print("Tu edad es:", edad)

Cuantos años tienes? 46
Tu edad es: 46

In [63]:
nombre = "Juan" #Contiene str

In [64]:
edad = 25   #Variable que contiene int
pi = 3.1416 #Variable que contiene float

In [65]:
mayor_de_edad = True #Variable que contiene bool

In [67]:
nombre = "Carlos" #Variable que contiene str
print(nombre)     #devuelve contenido de variable

Carlos

In [69]:
ciudad = "Guadalajara" #Variable que contiene str
print(ciudad)          #imprime el contenido de la variable

Guadalajara

In [71]:
mensaje = "Ella dijo: 'Hola'" #Variable que contiene varias str que forman un texto
print(mensaje)                #imprime el contenido de la variable

Ella dijo: 'Hola'

In [73]:
saludo = "Hola"               #Variable que contiene un str
nombre = "Ana"                #Variable que contiene un str
print(saludo + " " + nombre)  #el signo "+" concatena los str tal y como aparecen en las variables

Hola Ana

In [75]:
fruta = "manzana" #Variable que contiene un str
print(len(fruta)) #imprime la función "len()" que cuenta los caracteres que integran un str (no aplica para int, float o bool)

7

In [79]:
texto = "hola"       #Variable que contiene un str
print(texto.upper()) #imprime la función "upper()" que complementa el nombre de la variable para convertir su texto en mayúsculas ("nombre_de_la_variable.upper()")

HOLA

In [81]:
texto = "HOLA" #Variable que contiene un str en mayúsculas
print(texto.lower()) #imprime la función "lower()" que complementa el nombre de la variable para convertir el texto en minúsculas ("nombre_de_la_variable".lower())

hola

In [83]:
frase = "Me gusta el café"
nueva = frase.replace("café", "té") #función "replace(palabra buscada, palabra que va a sustituir)" complementa el nombre de la variable ("nom_var".replace(str_orig,str_sustit))
print(nueva) #Devuelve la frase con la palabra sustituida

Me gusta el té

In [89]:
texto = "   conocido  "
print(texto.strip()) #función ".strip()" complementa el nombre de la variable para quitar espacios al principio y final de la str que contiene

conocido

In [93]:
frase = "La ciencia de datos es útil"
print("datos" in frase) #función "in": identifica si un texto específico está dentro de un conjunto de palabras

True

In [137]:
a = 5
b = 6
print(a + b) #Símbolo "+": suma valores numéricos

11

In [138]:
x = 2
y = 4
print(x*y) #Símbolo "*": multiplica valores numéricos, si un valor es float devolverá float aunque los decimales sean "0"

8

In [139]:
resultado = 10 - 4 #símbolo "-" resta valores numéricos
print(resultado) #si un valor es float devolverá float aunque los decimales sean "0"

6

In [142]:
base = 3.0             #variable que contiene un int
cuadrado = base ** 2 #símbolo "**" eleva a potencia valores numéricos ("número base" ** "numero potencia")
print(cuadrado)      #print devuelve el resultado, si la base es float, devolverá float aunque los decimales sean "0"

9.0

In [99]:
a = 4      #Variable que contiene un int
b = 2      #Variable que contiene un int
print(a/b) #División de int entre int devuelve float aunque los decimales sean 0

2.0

In [100]:
print(7//2) #división exacta entre dos int devuelve int

3

In [101]:
print(10%3) #devuelve el residuo de la divisíón

1

In [104]:
texto = "8"         #variable que contiene un número entero en formato str
número = int(texto) #variable que contiene la función "int", que convierte un número entero en formato str a formato int (solo funciona con números no float)
print(número)

8

In [107]:
número = 15.0         #variable que contiene un número int
texto = str(número)   #variable que contiene la función str que convierte un número en str
print(type(texto))

<class 'str'>

In [113]:
pi = 3.1416        #Variable que contiene un float
print(round(pi,2)) #contiene la función "round(Var,Cant. dec. reduc)", devuelve el float menos los dígitos decimales que reduce

3.14

In [115]:
activo = True
print(activo)

True

In [117]:
apagado = False
print(apagado)

False

In [119]:
print(10 > 5) #Símbolo ">" compara si el primero es mayor que el segundo, devuelve bool

True

In [121]:
print(3 == 3) #Símbolo "<" compara si el primero es menor que el segundo, devuelve bool

True

In [123]:
print(4 != 4) #Símbolo "!=" compara si los valores son diferentes, devuelve bool

False

In [125]:
print(5 > 3 and 2 < 4) #función "and" analiza si se cumplen las dos condciones y devuelve bool

True

In [127]:
print(5 > 10 or 3 < 4) #función "or" analiza si se cumple una de las dos condiciones y devuelve bool

True

In [128]:
print(not True) #"not true" devuelve bool

False

In [129]:
nombre = "Ana"         #variable que contiene un str
print(nombre == "ana") #analiza si hay coincidencia exacta (==) y devuelve float

False

In [144]:
print(bool(0)) #convierte a bool el valor (en caso de ser "0", devuelve "False", para el resto devuelve "True", aunque sean float o int)
print(bool(5))
print(bool(1))
print(bool(2))
print(bool(3))
print(bool(4))

False
True
True
True
True
True

In [148]:
a = 5.0      #Variable con valor numérico
b = 3        #Varoabñe con valor numérico
print(a + b) #Símbolo "+": devuelve la suma de dos o mas valores numéricos, devolverá float si al menos uno es float, sin importar si el valor del decimal es "0"

8.0

In [151]:
a = 10.0     #variable con valor numérico
b = 4        #variable con valor numérico
print(a - b) #Símbolo "-": devuelve la resta de dos o mas valores numéricos, devolverá float si almenos uno es float, sin importar si el valor del decimal es "0"

6.0

In [153]:
x = 6.0      #Variable con valor númerico
y = 2        #Variable con valor númerico
print(x * y) #Símbolo "*": ejecuta la multiplicación de dos o más valores numéricos, devolverá float si al menos uno es float, sin importar si el valor de la terminal

12.0

In [156]:
a = 8        #Variable con valor numérico
b = 2.0      #Variable con valor numérico
print(a / b) #Símbolo "/": ejecuta la división entre dos valores númericos, devolverá float si al menos uno es float, sin importar si el valor de los decimales es "0"

4.0

In [160]:
print(9.0 // 2) #Símbolo "//": devuelve el resultado entero sin residuo o decimales de la división de dos valores númericos, devolverá float si al menos uno es float, sin importar si el valor de los decimales es "0"

4.0

In [164]:
print(9.0 % 2) #Símbolo "%": devuelve el residuo de la división entre dos números, devolverá float si al menos uno es float, sin importar si el valor de los decimales es "0"

1.0

In [166]:
print(5 ** 2.0) #Símbolo "**": devuelve el resultado de la potenciación de un valor, devolverá float si al menos uno es float, sin importar si el valor de los decimales es "0"

25.0

In [169]:
a,b,c = 9, 9, 9      #Variable que autoasigna valores numéricos a tres variables separadas por una coma tanto en el nombre de la variable como en el contenido numérico
promedio = (a+b+c)/3 #Calcula el promedio de "n" valores dividiendo la suma de los mismos entre la cantidad de valores (n+n+n/3n)
print(promedio)

9.0

In [171]:
x = int(input("Escribe un número: "))   #variable con función "input()" que pide datos al usuario
y = int(input("Escribe otro número: ")) #variable con función "input()" que pide datos al usuario
print("suma:", x + y) #Concatena texto con el contenido de las variables

Escribe un número: 1
Escribe otro número: 1
suma: 2

In [173]:
print(10 > 5.0) #Símbolo ">": compara si el primer valor es mayor que el segundo, indistintamente si los valores son int o float y devuelve bool

True

In [ ]:
print(3 < 2) #Símbolo "<": compara si el primer valor es menor que el segundo, indistintamente si los valores son int o float y devuelve bool

In [180]:
print(4.0 == 4)         #Símbolo "==": compara si dos elementos son iguales, si son valores numéricos no importa si son int o float
print("casa" == "casa") #si son valores "str" deben estar encerrados entre comillas y tener coincidencia exacta, incluyendo mayusculas - minúsculas
print("Casa" == "casa") #en todos los casos devolverá bool

True
True
False

In [182]:
print(4.0 != 4)         #Símbolo "!=": compara si dos elementos son diferentes, si son valores numéricos no importa si son int o float
print("casa" != "casa") #si son valores "str" deben estar encerrados entre comillas, reconoce la diferencia entre mayusculas - minúsculas
print("Casa" != "casa") #en todos los casos el resultado será bool

False
False
True

In [186]:
print(4.0 >= 4) #Símbolo ">=": compara si el primer valor numérico es mayor o igual al segundo, no importa si son int o float
print(5.0 >= 4) #devolverá bool
print(4.0 >= 5)

True
True
False

In [188]:
print(4.0 <= 4) #Símbolo "<=": compara si el primer valor numérico es menor o igual al segundo, no importa si son int o float
print(5.0 <= 4) #devolverá bool
print(4.0 <= 5)

True
False
True

In [190]:
nombre1 = "Angel" #Símbolo "==": compara si dos elementos son idénticos, si son valores str deberán estar entre comillas
nombre2 = "Ángel" #y tener coincidencia exacta, reconoce diferencia entre minúsculas, mayúsculas y el uso de acentos o
print(nombre1 == nombre2) #apostrofes; el resultado será bool
print(nombre1 == "Angel")

False
True

In [193]:
Val1 = int(input("Valor 1 es:"))
Val2 = int(input("valor 2 es:"))
print("Valor 1 es mayor que Valor 2:", Val1 > Val2)

Val3 = int(input())
Val4 = int(input())
print(Val3 > Val4)

Valor 1 es:2
valor 2 es:1
Valor 1 es mayor que Valor 2: True
2
1
True

In [194]:
edad = 18
print("Mayor de edad?", edad >= 18)

Mayor de edad? True